body, h1, h2, ul, li, p {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Poppins", sans-serif;
 background-image: url(backrgound2.jpg); padding: 10 px;
 
 background-position: center;
    background-repeat: no-repeat;

    margin: auto;
    background-size: cover;
}
* {
    margin: 0;
    padding: 0;
  }
  
  
  nav {
	margin: 27px auto 0;
    margin-top: -8px;
	position: relative;
	width: 590px;
	height: 50px;
	background-color: #3987d4;
	border-radius: 8px;
	font-size: 0;
    
    align-items: center;
}
nav a {
	line-height: 50px;
	height: 60%;
	font-size: 15px;
	display: inline-block;
	position: relative;
	z-index: 1;
	text-decoration: none;
	text-transform: uppercase;
	text-align: center;
	color: white;
	cursor: pointer;
}
nav .animation {
	position: absolute;
	height: 100%;
	top: 0;
	z-index: 0;
	transition: all .5s ease 0s;
	border-radius: 8px;
}
a:nth-child(1) {
	width: 100px;
}
a:nth-child(2) {
	width: 110px;
}
a:nth-child(3) {
	width: 100px;
}
a:nth-child(4) {
	width: 160px;
}
a:nth-child(5) {
	width: 120px;
}
nav .start-home, a:nth-child(1):hover~.animation {
	width: 100px;
	left: 0;
	background-color: #23b6b9;
}
nav .start-about, a:nth-child(2):hover~.animation {
	width: 110px;
	left: 100px;
	background-color: #e74c3c;
}
nav .start-blog, a:nth-child(3):hover~.animation {
	width: 100px;
	left: 210px;
	background-color: #3498db;
}
nav .start-portefolio, a:nth-child(4):hover~.animation {
	width: 160px;
	left: 310px;
	background-color: rgb(234, 19, 19), 89, 89);
}
nav .start-contact, a:nth-child(5):hover~.animation {
	width: 120px;
	left: 470px;
	background-color: #e67e22;
}

  
  .logo {
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 4px;
    box-sizing: border-box;
    text-shadow: #9d9ddf;
  }
  
  nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
    
    height: 8vh; 

  }
header {
    background-color: #00a6ed;
    color: #fff;
    text-align: cente;
    padding: 20px;
    /* sombra abaixo do header */ box-shadow: 0 8px 130px rgba(0, 0, 0, 0.2)
}



nav li {
    display: inline;
    margin-right: 20px;
}
/* COR DO TEXTO DO HEADER */
nav a {
    text-decoration: none;
    color: #e7dfdf;
    font-family: "poppins" sans-serif;
}

.container{
	display: block;
	text-align: center;
	margin-top: 80px;
}

.logo3{

  
	width: auto;
	height: 200px;
	display: flex;
	margin-bottom:-100px;
	margin-top: -30px;
 
 
 }
 
 .logo6{
 
	width: auto ;
	height: 70px;
	display: flex;
	margin-left: 1600px;
	margin-top: -100px ;
	margin-top: px;
	
 }
 
 h4{
 
	 color: rgb(0, 0, 0)40, 229, 229);
	 font-size: 20px;
	 margin-left: 1609px;
	 display: flex;
 
 }
 
 h5{
 
	 
 
 }


 /* cont anex */
 .cont2 {

 margin-top: 70px;
 }



 /* carga H */
 .carga{

text-align: :justify;

 }



.cargaH{

margin-top: 100px;

}


 /* FIM carga H */
 


 table {
	font-family: "Poppins", sans-serif;
	border-collapse: collapse;
	width: 80%;
	margin-left: 100px;
   }
   
   td, th {
	border: 1px solid #dddddd;
	text-align: left;
	padding: 25px;
   }
   
   tr:nth-child(even) {
	background-color: #dddddd;
   }
.fte {

font-size: 30px;
}

/* matricule-se */


